<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="org.talend.core.runtime.librariesNeeded">
        
        <!-- HDFS libraries -->    
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh580"
            id="hadoop-common-cdh5.8.0"
            name="hadoop-common-2.6.0-cdh5.8.1.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-common-2.6.0-cdh5.8.1/6.1.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh580"
            id="hadoop-hdfs-cdh5.8.0"
            name="hadoop-hdfs-2.6.0-cdh5.8.1.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-hdfs-2.6.0-cdh5.8.1/6.1.0">
        </libraryNeeded>

        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh580"
            id="hadoop-auth-cdh5.8.0"
            name="hadoop-auth-2.6.0-cdh5.8.1.jar"
            mvn_uri="mvn:org.talend.libraries/hadoop-auth-2.6.0-cdh5.8.1/6.1.0">
        </libraryNeeded>
        
        <!-- Third parties libraries -->
        <libraryNeeded
            context="plugin:org.talend.hadoop.distribution.cdh580"
            id="avro-cdh5.8.0"
            name="avro-1.7.6-cdh5.8.1.jar"
            mvn_uri="mvn:org.talend.libraries/avro-1.7.6-cdh5.8.1/6.1.0">
        </libraryNeeded>        
                       
        <!-- Groups -->
        
        <!-- HDFS group -->
        <libraryNeededGroup
                description="HDFS libraries for CDH 5.8"
                id="HDFS-LIB-CDH_5_8"
                name="HDFS-LIB-CDH_5_8"  >
             <library id="hadoop-common-cdh5.8.0" />
             <library id="hadoop-hdfs-cdh5.8.0" />
             <library id="hadoop-auth-cdh5.8.0" />
             <library id="commons-configuration-1.6.jar" />
             <library id="commons-lang-2.6.jar" />
             <library id="commons-logging-1.2.jar" />
             <library id="commons-cli-1.2.jar" />
             <library id="commons-collections-3.2.2.jar" />
             <library id="commons-codec-1.9.jar" /> <!-- This jar is required for HDFS SSL connection-->
             <library id="avro-cdh5.8.0" />
             <library id="guava-12.0.1.jar" />
             <library id="protobuf-java-2.5.0.jar" />
             <library id="slf4j-api-1.7.5.jar" />
             <library id="slf4j-log4j12-1.7.5.jar" />
             <library id="log4j-1.2.17.jar" />
             <library id="jersey-core-1.9.jar" />
             <library id="htrace-core4-4.0.1-incubating.jar" />
             <library id="servlet-api-2.5.jar"/>
        </libraryNeededGroup>
    </extension>
</plugin>
